body {
    padding: 8px;
    text-align: center;
    background-color: slategrey;
}

.container {
    width: 50%;
    margin: auto;
    display: block;
}

.btn {
    margin: 25px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color:white;
    padding: 10px;
}

.game-over{
    background-image: url('./img/maxresdefault.jpg');
    /* justify-items: center;
    align-items: center;
    margin: auto; */
    /* height: 100%; */
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    body{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    h1{
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .container{
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
}

/* CSS for the popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .popup h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .popup button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .container{
        gap: 10;
        width: 100%;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}